<div class="container">
    <div class="product-details">
        <h1>Name of the Product</h1>
        <p>Description of the product goes here.</p>
        <p>Price: $19.99</p>
        <div class="tags">
            <span class="tag">Tag1 <span class="tag tag1"></span></span>
            <span class="tag">Tag2 <span class="tag tag2"></span></span>
        </div>
    </div>

    <div class="actions">
        <button mat-button class="edit-button">
            <mat-icon>edit</mat-icon> Edit
          </button>
        <button mat-button class="delete-button">
            <mat-icon>delete</mat-icon> Delete
        </button>
    </div>
</div>