.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__list,
.container__feature {
    width: 100%;
    max-width: 660px;
}

.container__list {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.container__feature {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.list-item:hover {
    background-color: #f0f0f0;
    transform: scale(1.02);
}

.list-item span {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

.delete-button {
    background-color: #e53935;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: #c62828;
}

.create-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #45a049;
}

.filter-select {
    width: 50%;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .container__list {
        max-width: none;
    }

    .container__feature{
        flex-direction: column;
    }

    .filter-select,
    .create-button {
        width: 100%; 
        margin-bottom: 10px;
      }
}