.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-container {
    margin-bottom: 20px;
}

.form-field mat-form-field {
    width: 100%;
}

.form-container input[type="color"] {
    cursor: pointer;
}

.tag-option {
    display: flex;
    align-items: center;
  }

.tagCircle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 5px;
  }
/* 
.form-container input:invalid {
    border: 1px solid #ff0000;
} */

.form-container input:valid {
    border: 1px solid #ddd;
}

.create-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

.create-button:hover {
    background-color: #45a049;
}

.list-container {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}

.list-item > * {
    flex: 1; 
    margin-right: 10px; 
}

.tag-color {
    background-color: #ff0000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.edit-button,
.delete-button {
    background-color: #1976D2;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button {
    background-color: #e53935;
}

.edit-button:hover {
    background-color: #1565C0;
}

.delete-button:hover {
    background-color: #c62828;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}